@charset "UTF-8";

body {
	background-position: top;
	background-color: #233D4D;
	margin: 0;
    padding: 0;
    color: #fff;

	}
table{
	border-collapse: collapse;
	width: 100%;
	margin: auto;
	}
button {
  display: inline-block;
  padding: 8px 14px;
  font-size: 90%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4d6471;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {background-color: #555753}

button:active {
  background-color: #555753;
  box-shadow: 0 5px #2e3436;
  transform: translateY(2px);
}

#td1 {
	/*border: 1px solid; */
    width: 20%;

    /*color: DarkCyan;*/
}
#td2 {
	/*border: 1px solid; */
	
    align-content: center;
    /*color: DarkCyan;*/
}
#td3 {
	/*border: 1px solid; */
	
	width: 20%;

    /*color: DarkCyan;*/
}
.erreur {
	color: red;
}




/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: red;
}



img {
  width: 100%;
  display: block;
}
.divPlateau {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.tdPlateau {
   /*	border: 1px solid red; */
   	width: 14%;
}
#divPlateau {

 
}
#case2 {
	
	height: 10px;
	overflow:hidden;
}
.divTd{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
	
}
.cercle1 {
 	 border-radius:50%;
 	 background:#582900;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}

.cercle2 {
 	 border-radius:50%;
 	 background:#0000ff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle3 {
 	 border-radius:50%;
 	 background:#00ff00;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}

.cercle4 {
 	 border-radius:50%;
 	 background:#00ffff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle5 {
 	 border-radius:50%;
 	 background:#ff0000;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle6 {
 	 border-radius:50%;
 	 background:#ff00ff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle7 {

 	 border-radius:50%;
 	 background:#ffff00;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle8 {
 	 border-radius:50%;
 	 background:#ffffff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle9 {
 	 border-radius:50%;
 	 background:#777777;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}

.cercle10 {
 	 border-radius:50%;
 	 background:#ff7f00;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle11 {
 	 border-radius:50%;
 	 background:#096a09;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle12 {

 	 border-radius:50%;
 	 background:#000000;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #fff;
 	 visibility: hidden;
}

#divDes{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	
}
#des{
	font-size: 3em;
}

.joueur {
	display:flex;
	font-size: 20px;
	align-items: center;
	/*align-items: flex-start;
	justify-content: space-around;*/
	padding: 5px;
	
	/*visibility: hidden;*/
}
.btHide {
	align-content: flex-start;
}
.txtEdit{
	/*width: 50%;*/
	background-color: #999;
	margin: auto;
	color: #2e3436;
	min-width: 18%;
	border-radius: 15px;
	padding: 6px 6px;
}
.txtEdit:hover {background-color: #ddd}
.txtEdit:focus {background-color: #ddd}
.txtEditValidated{
	/*width: 50%;*/
	background-color: 233D4D;
	margin: auto;
	color: #fff;
}
.cercle{
	align-content: flex-end;
	right: 5px;
	height: 15px;
	width: 18px;
}

#ajouterJoueur{
	display: flex;
	padding: 10px;

	justify-content: center;
}
#btajouterJoueur{
	

}
#LancerPartie{
	display: flex;
	padding: 10px;
	justify-content: center;
}
#btLancerPartie{
	

}
#CadreBas{
	display:flex;
	flex-direction: column-reverse;
	
}
li{
	margin : auto;
	padding: 5px;
	color: #fff;
	
}
ul{
	list-style: none;
}