@charset "UTF-8";

body {
	background-position: top;
	background-color: Gainsboro;
	margin: 0;
    padding: 0;

	}
table{
	border-collapse: collapse;
	width: 100%;
	margin: auto;
	}

#td1 {
	border: 1px solid; 
    width: 20%;

    color: DarkCyan;
}
#td2 {
	border: 1px solid; 
	
    align-content: center;
    color: DarkCyan;
}
#td3 {
	border: 1px solid; 
	
	width: 20%;

    color: DarkCyan;
}
.erreur {
	color: red;
}




/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: red;
}



img {
  width: 100%;
  display: block;
}
.divPlateau {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.tdPlateau {
   	border: 1px solid red; 
   	width: 14%;
}
#divPlateau {

 
}
#case2 {
	
	height: 10px;
	overflow:hidden;
}
.divTd{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-end;
	
}

.cercle1 {

 	 border-radius:50%;
 	 background:#000000;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle2 {
 	 border-radius:50%;
 	 background:#0000ff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle3 {
 	 border-radius:50%;
 	 background:#00ff00;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}

.cercle4 {
 	 border-radius:50%;
 	 background:#00ffff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle5 {
 	 border-radius:50%;
 	 background:#ff0000;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle6 {
 	 border-radius:50%;
 	 background:#ff00ff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle7 {

 	 border-radius:50%;
 	 background:#ffff00;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle8 {
 	 border-radius:50%;
 	 background:#ffffff;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle9 {
 	 border-radius:50%;
 	 background:#777777;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}

.cercle10 {
 	 border-radius:50%;
 	 background:#ff7f00;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle11 {
 	 border-radius:50%;
 	 background:#096a09;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}
.cercle12 {
 	 border-radius:50%;
 	 background:#582900;
 	 width:21%;
  	 height:18%;
 	 border:1px solid #000000;
 	 visibility: hidden;
}

#divDes{
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	
}
#des{
	font-size: 3em;
}


.joueur {
	display:flex;
	font-size: 14px;
	visibility: hidden;
}
.txtEdit{
	width: 50%;
}
pre{
	height: 0;
}